@import '~theme/vars';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-body;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: $font-heading;
}

p {
  color: $grey-primary;
  font-family: $font-body;
}

h1 {
  color: $red-primary;
}

h2 {
  color: $magenta-primary;
}

h3 {
  color: $purple-primary;
}

h4 {
  color: $blue-primary;
}
