.field {
  margin-bottom: $space-large;

  .error-message {
    color: $red-primary;
    display: block;
    font-size: $font-xsmall;
    line-height: $space-large;
    text-align: left;
  }

  .label-text {
    color: $grey-primary;
    display: block;
    font-family: $font-heading;
    font-size: $font-xsmall;
    padding-bottom: $space;
    text-align: left;
    text-transform: uppercase;
  }

  .input {
    border-image: $red-orange-gradient 1;
    border-width: $border-width;
    color: $red-primary;
    font-family: $font-body;
    font-size: $font-xsmall;
    padding: $space-xsmall + $space-nudge;

    &:focus {
      border: $border-base $red-primary;
      outline: 0;
    };
  }

  &.error {
    .input {
      border: $border-base $red-primary;
    }
  }
}

.field-info {
  font-size: $font-xsmall;
  margin-bottom: $space;
}

.inline-label-form {
  .field {
    label {
      display: flex;
    }

    .label-text {
      line-height: $space-xlarge;
      padding: 0 $space 0 0;
      text-align: right;
      width: 25%;
    }

    .input {
      width: 75%;
    }
  }

  .field-info {
    float: right;
    text-align: right;
    width: 75%;
  }

  .button {
    &.primary {
      clear: both;
      float: right;
    }
  }
}
