//
// Raw Colors
//

$color-grape-orchid: #ac6c82;
$color-larkspur: #685c79;
$color-marigold: #ffbc67;
$color-oxford-blue: #445c7b;
$color-sweet-pea: #db737e;
$color-teal: #58c08e;

//
// Colors
//
$black: #000000;

$blue-primary: $color-oxford-blue;
$blue-secondary: lighten($blue-primary, 9.25%);
$blue-disabled: lighten($blue-primary, 15%);

$grey-primary: #d1d1d1;
$grey-secondary: #999999;

$magenta-primary: $color-grape-orchid;
$magenta-secondary: lighten($magenta-primary, 9%);

$orange-primary: $color-marigold;
$orange-secondary: lighten($orange-primary, 3.35%);;

$red-primary: $color-sweet-pea;
$red-secondary: lighten($red-primary, 9.25%);

$purple-primary: $color-larkspur;
$purple-secondary: lighten($purple-primary, 9.39%);

$success-primary: $color-teal;
$success-secondary:  lighten($color-teal, 9%);

$white: #ffffff;

//
// Gradients
//
$error-gradient: linear-gradient(
  to right,
  darken($red-secondary, 5%),
  $red-primary
  );

$neutral-gradient: linear-gradient(
  to right,
  $blue-primary,
  $purple-primary
  );

$red-gradient: linear-gradient(
  to right,
  $red-primary,
  $red-primary
  );

$red-orange-gradient: linear-gradient(
  to right,
  $red-primary,
  $orange-primary
  );

$success-gradient: linear-gradient(
  to right,
  $success-primary,
  $success-secondary
  );

$warning-gradient: linear-gradient(
  to right,
  $orange-primary,
  $orange-secondary
  );

//
// Borders
//
$border-width: 2px;
$border-base: $border-width solid;

//
// Animation
//
$animation-base: .1s ease;

//
// Effects
//
$menu-box-shadow: rgba(0, 0, 0, .1) 0 1px 3px;

//
// Sizes
//
$space: 1rem;

$space-nudge: $space / 10;
$space-xxxsmall: $space / 8;
$space-xsmall: $space / 2;
$space-small: $space * .75;

$space-large: $space * 1.5;
$space-xlarge: $space * 2;
$space-xxlarge: $space * 3;
$space-xxxlarge: $space * 4;

//
// Animation Time
//
$animation-speed: .125s;

//
// Font
//
$font-heading: 'Zona Bold', sans-serif;
$font-body: 'Tofino Book', sans-serif;

$font-xsmall: $space * .75;
$font-small: $space * .875;
$font-medium: $space;

$font-regular: 400;
$font-bold: 700;
