@import '~theme/vars';

.button {
  border: 0;
  color: $white;
  font-family: $font-heading;
  font-size: $font-small;
  text-transform: uppercase;
  transition: background-color $animation-speed;

  &.primary {
    background-color: $blue-primary;
    padding: $space-small $space-xlarge;

    &:hover {
      background-color: $blue-secondary;
      cursor: pointer;
    }
  }

  &[disabled] {
    background-color: $blue-disabled;

    &:hover {
      background-color: $blue-disabled;
      cursor: not-allowed;
    }
  }
}
