@import '~theme/vars';

.notification {
  height: $theme-space-xlarge;
  position: relative;

  &.info {
    background: $neutral-gradient;
  }

  &.warning {
    background: $warning-gradient;
  }

  &.error {
    background: $error-gradient;
  }

  &.success {
    background: $success-gradient;
  }

  .message {
    padding-left: $theme-space-small;
    // Vertical align
  }

  .close-icon {
    position: absolute;
    right: $theme-space-small;
  }
}
