@import '~theme/vars';

// TODO: Use Zona Bold / Tofino Book instead, respectively.
@import url(https://fonts.googleapis.com/css?family=Montserrat|Droid+Sans);

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: $pink-orange-gradient;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: $grey-primary;
  font-family: 'Droid Sans', sans-serif;
}

h1 {
  color: $pink-primary;
}

h2 {
  color: $magenta-primary;
}

h3 {
  color: $purple-primary;
}

h4 {
  color: $blue-primary;
}
