@import '~theme/vars';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $red-orange-gradient;
}

h1,
h2,
h3,
h4 {
  font-family: 'Zona Bold', sans-serif;
}

p {
  color: $grey-primary;
  font-family: 'Tofino Personal Book', sans-serif;
}

h1 {
  color: $red-primary;
}

h2 {
  color: $magenta-primary;
}

h3 {
  color: $purple-primary;
}

h4 {
  color: $blue-primary;
}
