//
// Raw Colors
//

$color-grape-orchid: #ac6c82;
$color-larkspur: #685c79;
$color-marigold: #ffbc67;
$color-oxford-blue: #445c7b;
$color-sweet-pea: #da727e;

//
// Colors
//
$black: #000000;

$blue-primary: $color-oxford-blue;
$blue-secondary: lighten($blue-primary, 9.25%);

$grey-primary: #d1d1d1;
$grey-secondary: #999999;

$magenta-primary: $color-grape-orchid;
$magenta-secondary: lighten($magenta-primary, 9%);

$orange-primary: $color-marigold;
$orange-secondary: lighten($orange-primary, 3.35%);;

$pink-primary: $color-sweet-pea;
$pink-secondary: lighten($pink-primary, 9.25%);

$purple-primary: $color-larkspur;
$purple-secondary: lighten($purple-primary, 9.39%);

$teal: lighten($pink-primary, 9.25%);

$white: #ffffff;

//
// Gradients
//
$pink-orange-gradient: linear-gradient(
  to right,
  $pink-primary,
  $orange-primary
  );
