//
// Raw Colors
//

$color-grape-orchid: #ac6c82;
$color-larkspur: #685c79;
$color-marigold: #ffbc67;
$color-oxford-blue: #445c7b;
$color-sweet-pea: #da727e;
$color-teal: #58c08e;

//
// Colors
//
$black: #000000;

$blue-primary: $color-oxford-blue;
$blue-secondary: lighten($blue-primary, 9.25%);

$grey-primary: #d1d1d1;
$grey-secondary: #999999;

$magenta-primary: $color-grape-orchid;
$magenta-secondary: lighten($magenta-primary, 9%);

$orange-primary: $color-marigold;
$orange-secondary: lighten($orange-primary, 3.35%);;

$red-primary: $color-sweet-pea;
$red-secondary: lighten($red-primary, 9.25%);

$purple-primary: $color-larkspur;
$purple-secondary: lighten($purple-primary, 9.39%);

$success-primary: $color-teal;
$success-secondary:  lighten($color-teal, 9%);

$white: #ffffff;

//
// Gradients
//

$error-gradient: linear-gradient(
  to right,
  $red-secondary
  $red-primary
  );

$neutral-gradient: linear-gradient(
  to right,
  $blue-primary
  $purple-primary
  );

$red-orange-gradient: linear-gradient(
  to right,
  $red-primary,
  $orange-primary
  );

$success-gradient: linear-gradient(
  to right,
  $success-primary
  $success-secondary
  );

$warning-gradient: linear-gradient(
  to right,
  $orange-primary
  $orange-secondary
  );

//
// Borders
//
$base-border: 1px solid;
$error-border: $base-border $red-primary;

//
// Sizes
//
$theme-space: 1rem;

$theme-space-large: $theme-space * 2;
$theme-space-xlarge: $theme-space * 4;

$theme-space-small: $theme-space / 2;
$theme-space-xsmall: $theme-space / 4;
