@import '~theme/vars';

.story-wrapper {
  margin: $space;
}

dl {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: $space;
}

dt {
  font-size: $font-small;
  margin-bottom: $space;
  width: 20%;
}

dd {
  margin-bottom: $space;
  width: 70%;
}

.col-wrap {
  display: flex;
}

.col-2 {
  width: 50%;
}

.col-4 {
  width: 25%;
}
